#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Ieki T, Yamanaka Y, Yoshikawa K (2022)
# Functional analysis of human olfactory receptors with a high basal
# activity using LNCaP cell line. PLOS ONE 17(4): e0267356.
#
# Command line:
# test/config_test.sh test/10a6_l-carvone.config
#

PROT pdbs/OR10/OR10A6.upright.pdb
LIG sdf/l-carvone.sdf

CEN RES 259 252 108 109

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 196	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR10A6_l-carvone.test.dock

