#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Dunkel, A.; Steinhaus, M.; Kotthoff, M.; Nowak, B.; Krautwurst, D.; Schieberle, P.; Hofmann, T.
# Nature’s chemical signatures in human olfaction: A foodborne perspective for future biotechnology.
# Angew. Chem. Int. Ed. Engl. 2014, 53, 7124–7143.
# https://doi.org/10.1002/anie.201309508
#
# Mainland JD, Li YR, Zhou T, Liu WL, Matsunami H.
# Human olfactory receptor responses to odorants.
# Sci Data. 2015 Feb 3;2:150002.
# doi: 10.1038/sdata.2015.2.
#

#
# Command line examples:
# test/config_test.sh test/10g7_eugenol.config
# test/config_test.sh test/10g7_eugenol.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR10/OR10G7.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
BRIDGE 6.57 45.51
LIG sdf/eugenol.sdf

# In-house prediction for ligand binding.
CEN RES 2.53 3.32 3.33 3.37 6.55
FLXR 3.37

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 55		# Head, TMR1, and CYT1.
WET

POSE 5
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock
APPENDPROT
