#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Unknown.
#
# Command line:
# test/config_test.sh test/10g9_eugenol.config
#

PROT pdbs/OR10/OR10G9.upright.pdb
LIG sdf/eugenol.sdf

CEN RES 103 104 108 112

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 196	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR10G9_eugenol.test.dock

