#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Xiaojing Cong, Wenwen Ren, Jody Pacalon, Claire A. de March,
# Lun Xu, Hiroaki Matsunami, Yiqun Yu, Jérôme Golebiowski
# Functions of olfactory receptors are decoded from their sequence.
# https://doi.org/10.1101/2020.01.06.895540
#
# Command line:
# test/config_test.sh test/11h12_acetophenone.config
#

PROT pdbs/OR11/OR11H12.upright.pdb
LIG sdf/acetophenone.sdf

CEN RES 274 267 123 124

SIZE 6.0 7.5 5.5

EXCL 1 72		# Head, TMR1, and CYT1.
EXCL 178 211	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR11H12_acetophenone.test.dock

