#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Inverse agonist.
# Adipietro KA, Mainland JD, Matsunami H (2012)
# Functional Evolution of Mammalian Odorant Receptors.
# PLoS Genet 8(7): e1002821. doi:10.1371/ journal.pgen.1002821
#
# Empirical measurement outcome: Agonist.
# Ieki T, Yamanaka Y, Yoshikawa K (2022)
# Functional analysis of human olfactory receptors with a high
# basal activity using LNCaP cell line. PLOS ONE 17(4): e0267356.
#
# Command line:
# test/config_test.sh test/1a1_c3hex.config
#

PROT pdbs/OR1/OR1A1.rotated.pdb
LIG sdf/cis-3-hexen-1-ol.sdf

CEN RES 258 251 109 108

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 195	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR1A1_c3hex.test.dock

