#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Saito H, Chi Q, Zhuang H, Matsunami H, Mainland JD.
# Odor coding by a Mammalian receptor repertoire.
# Sci Signal. 2009 Mar 3;2(60):ra9.
# doi: 10.1126/scisignal.2000016. PMID: 19261596; PMCID: PMC2774247.
#
# Command line:
# test/config_test.sh test/1a1_geraniol.diff.config
#

PROT pdbs/OR1/OR1A1.rotated.pdb
LIG sdf/geraniol.sdf

CEN RES 258 251 109 108

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 195	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

DIFF

ITERS 50

OUT output/OR1A1_geraniol.test.dock

