#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Saito H, Chi Q, Zhuang H, Matsunami H, Mainland JD.
# Odor coding by a Mammalian receptor repertoire.
# Sci Signal. 2009 Mar 3;2(60):ra9.
# https://doi.org/10.1126/scisignal.2000016
#
# Silva Teixeira CS, Silva Ferreira AC, Cerqueira NM.
# Studying Haloanisoles Interaction with Olfactory Receptors.
# ACS Chem Neurosci. 2016 Jul 20;7(7):870-85.
# https://doi.org/10.1021/acschemneuro.5b00335
#

#
# Command line examples:
# test/config_test.sh test/1a1_s-citronellol.config
# test/config_test.sh test/1a1_s-citronellol.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR1/OR1A1.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
LIG sdf/(S)-(-)-citronellol.sdf

# https://doi.org/10.1016/j.jsb.2007.04.013
# https://doi.org/10.1021/acs.orglett.2c01635
CEN RES 3.36 3.37 6.55

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 57		# Head, TMR1, and CYT1.
WET

POSE 10
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock

