#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Guenhael Sanz, Claire Schlegel, Jean-Claude Pernollet and Loic Briand
# Comparison of Odorant Specificity of Two Human Olfactory Receptors from Different Phylogenetic Classes
# and Evidence for Antagonism
# Chemical Senses vol. 30 no. 1 (2005)
# https://doi.org/10.1093/chemse/bji002
#

#
# Command line examples:
# test/config_test.sh test/1g1_nonanol.config
# test/config_test.sh test/1g1_nonanol.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR1/OR1G1.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
LIG sdf/1-nonanol.sdf

# https://doi.org/10.1093/protein/gzs037
CEN RES 3.35 3.36 3.40 6.47 6.48 6.51 7.42 7.45

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 57		# Head, TMR1, and CYT1.
WET

POSE 5
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock

