#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
#

#
# Command line examples:
# test/config_test.sh test/1g1_octanal.config
# test/config_test.sh test/1g1_octanal.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR1/OR1G1.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
LIG sdf/octanal.sdf

# https://doi.org/10.1093/protein/gzs037
CEN RES 2.60 3.40

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 57		# Head, TMR1, and CYT1.
WET

POSE 10
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock

