#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Mainland JD, Li YR, Zhou T, Liu WL, Matsunami H.
# Human olfactory receptor responses to odorants.
# Sci Data. 2015 Feb 3;2:150002.
# doi: 10.1038/sdata.2015.2. PMID: 25977809; PMCID: PMC4412152.
#
# Empirical measurement outcome: Agonist.
# Adipietro KA, Mainland JD, Matsunami H (2012)
# Functional Evolution of Mammalian Odorant Receptors.
# PLoS Genet 8(7): e1002821. doi:10.1371/ journal.pgen.1002821
#
# Empirical measurement outcome: Agonist.
# J.D. Mainland, A. Keller, Y.R. Li, T. Zhou, C. Trimmer, L.L. Snyder,
# A.H. Moberly, K.A. Adipietro, W.L.L. Liu, H. Zhuang et al.
# The missense of smell: functional variability in the human odorant
# receptor repertoire, Nat. Neurosci. 17 (2014) 114-120
#
# Command line:
# test/config_test.sh test/2b11_coumarin.config
#

PROT pdbs/OR2/OR2B11.upright.pdb
LIG sdf/coumarin.sdf

CEN RES 263 256 112 113

SIZE 6.0 7.5 5.5

EXCL 1 61		# Head, TMR1, and CYT1.
EXCL 168 200	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR2B11_coumarin.test.dock

