#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Adipietro KA, Mainland JD, Matsunami H (2012)
# Functional Evolution of Mammalian Odorant Receptors.
# PLoS Genet 8(7): e1002821. doi:10.1371/ journal.pgen.1002821
#
# Command line:
# test/config_test.sh test/2j2_citral.config
#

PROT pdbs/OR2/OR2J2.upright.pdb
LIG sdf/citral.sdf

CEN RES 260 253 109 110

SIZE 6.0 7.5 5.5

EXCL 1 58		# Head, TMR1, and CYT1.
EXCL 165 197	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR2J2_citral.test.dock

