#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Adipietro KA, Mainland JD, Matsunami H (2012)
# Functional Evolution of Mammalian Odorant Receptors.
# PLoS Genet 8(7): e1002821. doi:10.1371/ journal.pgen.1002821
#
# Command line:
# test/config_test.sh test/2j3_coumarin.config
#

PROT pdbs/OR2/OR2J3.rotated.pdb
LIG sdf/coumarin.sdf

CEN RES 262 255 111 112

SIZE 6.0 7.5 5.5

EXCL 1 60		# Head, TMR1, and CYT1.
EXCL 167 200	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR2J3_coumarin.test.dock

