#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Franziska Noe, Johannes Polster, Christiane Geithe, Matthias Kotthoff, Peter Schieberle, and Dietmar Krautwurst
# OR2M3: A Highly Specific and Narrowly Tuned Human Odorant Receptor for the Sensitive Detection of Onion Key Food
# Odorant 3-Mercapto-2-methylpentan-1-ol
# Chemical Senses, 2017, Vol 42, 195–210
# https://doi.org/10.1093/chemse/bjw118
#

#
# Command line examples:
# test/config_test.sh test/2m3_3-mercapto-2-methylpentan-1-ol.config
# test/config_test.sh test/2m3_3-mercapto-2-methylpentan-1-ol.config --smiles "CC[C@H]([C@@H](C)CO)[S-]" --out "output/%p_(2R,3R)-%l.active.dock"
# test/config_test.sh test/2m3_3-mercapto-2-methylpentan-1-ol.config --smiles "CC[C@@H]([C@@H](C)CO)[S-]" --out "output/%p_(2R,3S)-%l.active.dock"
# test/config_test.sh test/2m3_3-mercapto-2-methylpentan-1-ol.config --smiles "CC[C@H]([C@H](C)CO)[S-]" --out "output/%p_(2S,3R)-%l.active.dock"
# test/config_test.sh test/2m3_3-mercapto-2-methylpentan-1-ol.config --smiles "CC[C@@H]([C@H](C)CO)[S-]" --out "output/%p_(2S,3S)-%l.active.dock"
# test/config_test.sh test/2m3_3-mercapto-2-methylpentan-1-ol.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR2/OR2M3.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
BRIDGE 6.57 45.51
LIG sdf/3-mercapto-2-methylpentan-1-ol.sdf
SMILES CCC(C(C)CO)[S-]

# https://doi.org/10.1007/s00018-019-03279-y
CEN RES 3.33 3.37 3.40 5.41 5.42 6.55
MCOORD Cu +1 5.42 5.43

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 261 265
WET

POSE 5
ELIM 99
PROGRESS

FLEX 1
FLXR 3.33

ITERS 50

OUT output/%p_%l.active.dock
APPENDPROT
