#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
#

#
# Command line examples:
# test/config_test.sh test/2t11_tert_butanethiol.config
# test/config_test.sh test/2t11_tert_butanethiol.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR2/OR2T11.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
BRIDGE 6.54 45.51
BRIDGE 5.36 6.59
LIG sdf/tert-butyl_mercaptan.sdf

CEN RES 5.39 5.42 5.43 5.46 6.55
MCOORD Cu +2 4.56 5.39 5.42 5.43 5.46

SIZE 7.0 7.5 7.0

EXCL 1 54		# Head, TMR1, and CYT1.
WET

POSE 10
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock

