#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# McRae, Mainland, Jaeger, Adipietro, Matsunami, Newcomb
# Genetic Variation in the Odorant Receptor OR2J3 Is Associated with the
# Ability to Detect the "Grassy" Smelling Odor, cis-3-hexen-1-ol.
# Chem. Senses 37: 585–593, 2012 doi:10.1093/chemse/bjs049
#
# Empirical measurement outcome: Agonist.
# Ieki T, Yamanaka Y, Yoshikawa K (2022)
# Functional analysis of human olfactory receptors with a high basal
# activity using LNCaP cell line. PLOS ONE 17(4): e0267356.
#
# Empirical measurement outcome: Inverse agonist.
# Adipietro KA, Mainland JD, Matsunami H (2012)
# Functional Evolution of Mammalian Odorant Receptors.
# PLoS Genet 8(7): e1002821. doi:10.1371/ journal.pgen.1002821
#
# Command line:
# test/config_test.sh test/2w1_c3hex.config
#

PROT pdbs/OR2/OR2W1.upright.pdb
LIG sdf/cis-3-hexen-1-ol.sdf

CEN RES 259 252 108 109

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 196	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR2W1_c3hex.test.dock

