#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Unknown.
#
# The PrimaryOdors.org admin predicts this ligand to be an agonist of this
# receptor based on the following description of the receptor's sensitivity:
#
# "Our results indicate that the presence of an aldehyde group connected to
# an aromatic ring via a carbon chain of defined length (3–5 carbons), and
# containing a methyl group at the a or b position, are key determinants
# for an active hOR17-40 ligand. The addition of functional groups at the
# para position of the aromatic ring is not essential but slightly increases
# the ability of the ligand to activate the receptor."
#
# Jacquier V, Pick H, Vogel H.
# Characterization of an extended receptive ligand repertoire
# of the human olfactory receptor OR17-40 comprising structurally
# related compounds. J Neurochem. 2006 Apr;97(2):537-44.
# doi: 10.1111/j.1471-4159.2006.03771.x. Epub 2006 Mar 15. PMID: 16539658.
#
# Floralozone has an aldehyde group connected to an aromatic ring by a 3-
# carbon chain, with two methyl groups at the alpha position.
# It also has an ethyl group at the para position.
# Floralozone also smells "green", having a green-vegetable note that it
# shares with other OR3A1 agonists such as helional, trifernal, and cyclamal.
# This "green" note of floralozone can be observed to disappear when mixed
# with bourgeonal, an OR3A1 antagonist.
#
# Command line:
# test/config_test.sh test/3a1_floralozone.config
#

PROT pdbs/OR3/OR3A1.rotated.pdb
LIG sdf/floralozone.sdf

CEN RES 262 255 111 112

SIZE 6.0 7.5 5.5

EXCL 1 60		# Head, TMR1, and CYT1.
EXCL 168 200	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR3A1_floralozone.test.dock

