#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Jacquier V, Pick H, Vogel H.
# Characterization of an extended receptive ligand repertoire
# of the human olfactory receptor OR17-40 comprising structurally
# related compounds. J Neurochem. 2006 Apr;97(2):537-44.
# doi: 10.1111/j.1471-4159.2006.03771.x. Epub 2006 Mar 15. PMID: 16539658.
#
# Command line:
# test/config_test.sh test/3a1_helional.config
#

PROT pdbs/OR3/OR3A1.upright.pdb
LIG sdf/helional.sdf

CEN RES 262 255 111 112

SIZE 6.0 7.5 5.5

EXCL 1 60		# Head, TMR1, and CYT1.
EXCL 168 200	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR3A1_helional.test.dock

