#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Adipietro KA, Mainland JD, Matsunami H (2012)
# Functional Evolution of Mammalian Odorant Receptors.
# PLoS Genet 8(7): e1002821. doi:10.1371/ journal.pgen.1002821
#
# Empirical measurement outcome: Non-agonist.
# YOSHIFUMI FUJITA, TOMOKO TAKAHASHI, AKIKO SUZUKI, KAYO KAWASHIMA, FUTOSHI NARA & RYUTA KOISHI (2007)
# Deorphanization of Dresden G Protein-Coupled Receptor for an Odorant Receptor.
# Journal of Receptors and Signal Transduction, 27:4, 323-334, DOI: 10.1080/10799890701534180
#
# Command line:
# test/config_test.sh test/51e1_butyrate.config
#

PROT pdbs/OR51/OR51E1.rotated.pdb
LIG sdf/butyrate.sdf

CEN RES 260 253 110 111

SIZE 6.0 7.5 5.5

EXCL 1 59		# Head, TMR1, and CYT1.
EXCL 166 197	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR51E1_butyrate.test.dock

