#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Audouze K, Tromelin A, Le Bon AM, Belloir C, Petersen RK, et al. 
# Identification of Odorant-Receptor Interactions by Global Mapping of the Human Odorome.
# PLoS ONE 9(4): e93037. doi:10.1371/journal.pone.0093037
#
# Command line:
# test/config_test.sh test/51e1_isovalerate.config
#

PROT pdbs/OR51/OR51E1.upright.pdb
LIG sdf/isovalerate.sdf

CEN RES 260 253 110 111

SIZE 6.0 7.5 5.5

EXCL 1 59		# Head, TMR1, and CYT1.
EXCL 166 197	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR51E1_isovalerate.test.dock

