#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Aisenberg, W., Huang, J., Zhu, W. et al.
# Defining an olfactory receptor function in airway smooth muscle cells.
# Sci Rep 6, 38231 (2016). https://doi.org/10.1038/srep38231
#
# Command line:
# test/config_test.sh test/51e2_propionate.config
#

PROT pdbs/OR51/OR51E2.upright.pdb
LIG sdf/propionate.sdf

# For the first time, the structure of an actual OR protein has been observed.
# Its binding site for its strongest agonist has been identified.
# https://doi.org/10.1101/2022.12.20.520951
CEN RES 3.33 4.57 4.60 45.52 45.53 5.39 5.43 6.55 6.59
# PATH 1 RES 3.33 4.57 4.60 45.52 45.53 5.39 5.43 6.55 6.59

SIZE 5.0 4.0 5.0

ACVNODE 0
ACVHXR TMR6 6.26 6.60 6.48 0 0 0 -0.5448 0 0.8385 13

EXCL 1 56		# Head, TMR1, and CYT1.

POSE 10
ELIM 99

FLEX 1

ITERS 50

OUT output/%p_%l.dock

