#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Aisenberg, W., Huang, J., Zhu, W. et al.
# Defining an olfactory receptor function in airway smooth muscle cells.
# Sci Rep 6, 38231 (2016). https://doi.org/10.1038/srep38231
#
# Command line:
# test/config_test.sh test/51e2_butyrate.config
#

PROT pdbs/OR51/OR51E2.upright.pdb
LIG sdf/butyrate.sdf

CEN RES 4.57 4.60 5.39
REQSR 4.57 4.60 5.39

SIZE 6.0 7.5 5.5

EXCL 1 56		# Head, TMR1, and CYT1.
WET

POSE 5

FLEX 1

ITERS 50

OUT output/%p_%l.dock

