#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Sanz G., Leray I., Grébert D., Antoine S., Acquistapace A., Muscat A., Boukadiri A., Mir L. M.
# Structurally related odorant ligands of the olfactory receptor OR51E2 differentially promote
# metastasis emergence and tumor growth.
# Oncotarget. 2017; 8: 4330-4341.
#
# Command line:
# test/config_test.sh test/51e2_ionone.config
#

PROT pdbs/OR51/OR51E2.rotated.pdb
LIG sdf/b-ionone.sdf

CEN RES 258 251 107 108

SIZE 6.0 7.5 5.5

EXCL 1 56		# Head, TMR1, and CYT1.
EXCL 163 195	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR51E2_ionone.test.dock

