#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# S.R. Jaeger, J.F. McRae, C.M. Bava, M.K. Beresford, D. Hunter, Y. Jia, S.L. Chheang, D. Jin, M. Peng, J.C. Gamble et al.
# A Mendelian Trait for Olfactory Sensitivity Affects Odor Experience and Food Selection.
# Curr. Biol. 23 (2013) 1601-1605.
#
# Command line:
# test/config_test.sh test/5a1_ionone.config
#

PROT pdbs/OR5/OR5A1.upright.pdb
LIG sdf/b-ionone.sdf

CEN RES 262 255 111 112

SIZE 6.0 7.5 5.5

EXCL 1 59		# Head, TMR1, and CYT1.
EXCL 167 199	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR5A1_ionone.test.dock

