#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Ahmed, Lucky et al
# "Molecular mechanism of activation of human musk receptors OR5AN1 and OR1A1 by (R)-muscone and diverse other musk-smelling compounds."
# Proceedings of the National Academy of Sciences 115.17 (2018): E3950-E3958. Web. 29 Aug. 2021.
# https://doi.org/10.1073/pnas.1713026115
#

#
# Command line examples:
# test/config_test.sh test/5an1_isomuscone.config
# test/config_test.sh test/5an1_isomuscone.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR5/OR5AN1.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
BRIDGE 6.58 45.51
LIG sdf/isomuscone.sdf

# https://doi.org/10.1073/pnas.1713026115
CEN RES 3.32 3.40 5.33 5.47 6.47 6.55

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 58		# Head, TMR1, and CYT1.
WET

POSE 5
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock

