#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Marcinek, Patrick, et al.
# "An evolutionary conserved olfactory receptor for foodborne and semiochemical alkylpyrazines."
# The FASEB Journal 35.6 (2021): e21638.
# DOI: 10.1096/fj.202100224R
#

#
# Command line examples:
# test/config_test.sh test/5k1_hazelnut_pyrazine.config
# test/config_test.sh test/5k1_hazelnut_pyrazine.config --template off --out output/%p_%l.inactive.dock
#

PROT pdbs/OR5/OR5K1.upright.pdb
TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
BRIDGE 6.57 45.51
LIG sdf/hazelnut_pyrazine.sdf

# https://doi.org/10.1096/fj.202100224R
CEN RES 3.32 6.51

SIZE 7.0 7.5 7.0
SOFT TMR2 TMR4 TMR5 TMR6 TMR7

EXCL 1 58		# Head, TMR1, and CYT1.
WET

POSE 5
ELIM 99
PROGRESS

FLEX 1

ITERS 50

OUT output/%p_%l.active.dock


