#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Saito H, Chi Q, Zhuang H, Matsunami H, Mainland JD.
# Odor coding by a Mammalian receptor repertoire.
# Sci Signal. 2009 Mar 3;2(60):ra9.
# doi: 10.1126/scisignal.2000016. PMID: 19261596; PMCID: PMC2774247.
#
# Command line:
# test/config_test.sh test/5p3_acetophenone.config
#

PROT pdbs/OR5/OR5P3.upright.pdb
LIG sdf/acetophenone.sdf

CEN RES 259 252 108 109

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 196	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR5P3_acetophenone.test.dock

