#
# Test config file for PrimaryDock.
#
# Empirical measurement outcome: Agonist.
# Xiaojing Cong, Wenwen Ren, Jody Pacalon, Claire A. de March,
# Lun Xu, Hiroaki Matsunami, Yiqun Yu, Jérôme Golebiowski
# Functions of olfactory receptors are decoded from their sequence.
# https://doi.org/10.1101/2020.01.06.895540
#
# Command line:
# test/config_test.sh test/5r1_coumarin.config
#

PROT pdbs/OR5/OR5R1.rotated.pdb
LIG sdf/coumarin.sdf

CEN RES 259 252 108 109

SIZE 6.0 7.5 5.5

EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 196	# EXR2 between TMR4 and TMR5.

POSE 5

FLEX 1

ITERS 50

OUT output/OR5R1_coumarin.test.dock

