#
# Test config file for PrimaryDock.
#
# Command line examples:
# bin/primarydock test/dynamic.fishlike.config
#

# Receptor and ligand.
PROT pdbs/OR51/OR51E2.upright.pdb
LIG sdf/propionate.sdf

# Location and size of binding pocket.
CEN RES 4.57 4.60 5.39 45.52
SIZE 7.0 7.5 7.0

# Exclusion zone.
EXCL 1 56		# Head, TMR1, and CYT1.

# Simulate aqueous environment; hydrophobic bonds will be strengthened.
WET

# Initial pre-docking side chain flexion.
ATOMTO 45.53 EXTENT 6.51
ATOMTO 6.59 EXTENT 4.61
STCR 45.53

# Dynamic motions during dock.
DYNAMIC ROCK pivot6 6.27 6.59 6.48 2.54 -12
DYNAMIC MOVE xlate5 5.32 5.68 5.49 6.48 2.8
DYNAMIC ROCK bend45 45.52 45.54 45.54 4.64 -25
DYNAMIC ROCK bend7 7.30 7.46 7.46 3.38 -4 MAX pivot6
DYNAMIC WIND unwd6e 6.57 6.60 -15 MIN pivot6
DYNAMIC ROCK pivot4 4.39 4.64 4.54 6.51 -1
DYNAMIC ROCK pivot1 1.27 1.58 1.54 2.43 -5
DYNAMIC ROCK bend2 2.50 2.65 2.50 6.51 -10 MAX pivot1
DYNAMIC ROCK pivot6b 6.27 6.59 6.47 6.46 -3

# Resource usage.
POSE 10
ITERS 50
FLEX 1

# Energy cutoff.
ELIM -0.01

# Output files.
OUT output/%p_%l.optimized.dock
OUTPDB 2 output/%p_%l.optimized.model%o.pdb

