#
# Test config file for PrimaryDock.
#
# Command line examples:
# bin/primarydock test/dynamic.fishlike.config
#

# Receptor and ligand.
PROT pdbs/OR51/OR51E2.upright.pdb
LIG sdf/propionate.sdf

# Location and size of binding pocket.
CEN RES 4.57 4.60 5.39 45.52
SIZE 7.0 7.5 7.0

# Dynamic motions.
DYNAMIC ROCK pivot6 6.27 6.59 6.48 2.54 -15
DYNAMIC MOVE xlate5 5.32 5.68 5.49 6.48 2.8
DYNAMIC ROCK bend45 45.52 45.54 45.54 4.64 25
DYNAMIC ROCK bend7 7.30 7.46 7.46 3.38 -4 MAX pivot6
DYNAMIC WIND unwind6exr 6.57 6.60 -25 MIN pivot6

# Initial side chain flexion.
ATOMTO 45.53 EXTENT 6.51
ATOMTO 6.59 EXTENT 4.61

# Exclusion zone.
EXCL 1 56		# Head, TMR1, and CYT1.

# Simulate aqueous environment; hydrophobic bonds will be strengthened.
WET

# Processing load.
POSE 10
ITERS 50
FLEX 1

# Energy cutoff.
ELIM 99

# Output file.
OUT output/%p_%l.optimized.dock
OUTPDB 5 output/%p_%l.optimized.model%o.pdb

