
# PrimaryDock test configuration file.
#

PROT pdbs/OR1/OR1A1.upright.pdb
LIG sdf/d-limonene.sdf

CEN RES 3.37 5.47 6.55 7.41
# CEN RES 4.60 45.52 6.55

# Pocket size.
SIZE 7.0 7.5 7.0
WET

EXCL 1 57		# Head, TMR1, and CYT1.

POSE 5
ITERS 50

PROGRESS

ELIM 25

FLEX 1

BRIDGE 6.55 45.51
ATOMTO 5.47 EXTENT 6.51
STCR 45.51 5.47 6.55
DYNAMIC BEND bend6 56.50 6.48 6.48 7.43 -12
DYNAMIC BEND bend5 5.43 56.49 5.43 6.55 -5 SYNC bend6
DYNAMIC BEND bend7 7.48 7.56 7.48 2.50 10 MAX bend6
DYNAMIC ROCK rock5 5.36 56.49 5.47 4.50 -7 SYNC bend5
# DYNAMIC MOVE move5 5.36 56.49 5.43 6.55 3 SYNC bend6
DYNMIN 0.85

OUT output/test_%p_%l.optimized.dock
OUTPDB 2 output/test_%p_%l.optimized.model%o.pdb

