
# PrimaryDock test configuration file.
#
# For active configuration, run:
# bin/primarydock test/test1A1.config --template pdbs/OR51/OR51E2.8f76.pdb --bridge 6.57 45.51 --out output/test_%p_%l.active.dock --soft TMR4 TMR5 TMR6 TMR7 --progress
#

PROT pdbs/OR1/OR1A1.upright.pdb
# TEMPLATE pdbs/OR51/OR51E2.8f76.pdb
# BRIDGE 6.57 45.51
LIG sdf/d-limonene.sdf

CEN RES 3.37 5.47 6.55 7.41

# Pocket size.
SIZE 7.0 7.5 7.0
WET

EXCL 1 57		# Head, TMR1, and CYT1.
# TODO: If using ZhangLab PDBs, uncomment the following line.
# EXCL 164 195	# EXR2 between TMR4 and TMR5.

POSE 5
ITERS 50

# ELIM -0.01
# ELIM 10000000000

FLEX 1
# SOFT TMR4 TMR5 TMR6 TMR7

OUT output/test_%p_%l.dock

