
# PrimaryDock test configuration file.
#

# Path to PDB of protein (required):
PROT pdbs/OR1/OR1A1.upright.pdb

# Path to PDB or SDF of ligand (required):
LIG sdf/d-limonene.sdf

CEN RES 258 251 109 108

# PATH RES 1 112 206 251
# PATH RES 2 115 213 244
# PATH RES 3 59 118 240
# PATH RES 4 126 224 233

# Optional protein conformational states.
# STATE 3 210 248 25

# Pocket size.
SIZE 6.0 7.5 5.5

# Exclusion from pocket.
EXCL 1 57		# Head, TMR1, and CYT1.
# TODO: If using ZhangLab PDBs, uncomment the following line.
# EXCL 164 195	# EXR2 between TMR4 and TMR5.

# Maximum number of poses to output. Default 10.
POSE 5

# Minimum total binding energy in kJ/mol for output poses.
# ELIM -0.01
# ELIM 10000000000

# Side chain flexion: active if nonzero. Default: 1.
FLEX 1

# Number of iterations per path node per pose.
ITERS 50

# Optional output file for docking results.
OUT output/OR1A1_test.dock

