
# PrimaryDock test configuration file.
#

# Path to PDB of protein (required):
PROT pdbs/TAAR/TAAR8.upright.pdb

# Path to PDB or SDF of ligand (required):
LIG sdf/cadaverine.sdf
SMILES [NH3+]CCCCC[NH3+]

CEN RES 3.32 3.37 5.42 6.48 7.43

# PATH RES 1 112 206 251
# PATH RES 2 115 213 244
# PATH RES 3 59 118 240
# PATH RES 4 126 224 233

# Optional protein conformational states.
# STATE 3 210 248 25

# Pocket size.
SIZE 7 7 7

# Maximum number of poses to output. Default 10.
POSE 5

# Minimum total binding energy in kJ/mol for output poses.
# ELIM -0.01
# ELIM 10000

# Side chain flexion: active if nonzero. Default: 1.
FLEX 1
FLXR 3.32 5.43 6.48

# Number of iterations per path node per pose.
ITERS 50

PROGRESS

# Optional output file for docking results.
OUT output/test_%p_%l.dock

# Colorize output energies for at-a-glance verification.
COLORS


