
# PrimaryDock test configuration file.
#

# Path to PDB of protein (required):
PROT pdbs/TAAR/TAAR9.upright.pdb

# Path to PDB or SDF of ligand (required):
LIG sdf/phenethylamine.sdf
SMILES c1ccccc1CC[NH3+]

CEN RES 3.32 3.37 5.42 6.48 6.51

# Pocket size.
SIZE 8 8 8

# Maximum number of poses to output. Default 10.
POSE 10

# Minimum total binding energy in kJ/mol for output poses.
# ELIM -0.01
# ELIM 10000

# Side chain flexion: active if nonzero. Default: 1.
FLEX 1
FLXR 6.48
BRIDGE 3.32 7.43
STCR 3.32 7.43

# Number of iterations per path node per pose.
ITERS 50

PROGRESS

# Optional output file for docking results.
OUT output/test_%p_%l.dock

# Colorize output energies.
COLORS


