# Ignore build arfifacts and other misc files.
*
!/**/
!*.*

*.o
*_test
metal
podock
primarydock
*.config
*.cav
*.dat
*.pdb
*.sdf
hm/OR[0-9][A-Z][0-9].*
hm/OR[0-9][A-Z]?[0-9].*
hm/OR5[0-9][A-Z][0-9].*
*~
cmake-*
.idea/
*.gcov
*.gcno
*.gcda
bin/
obj/
*.dSYM/
build/
*.received.txt
www/assets/pngs/*.png
predict/*.json
predict/*.ai
composer.*
vendor
.vscode
www/assets/*.woff2
www/assets/primaryod*
data/*.bkp.json
data/receptor_pq.json
output
OR*.png
tmp
temp
test.*
*.pepd
data/seq*
data/*.php
www/assets/image.png
www/custom.json
www/*.bak.php
predict/training_set.txt
www/security.json
www/sidelinks.json
pdbs/*/*.params

