
# Sample PrimaryDock configuration file.
#
# Modify this or create fresh.
# Note that every parameter listed in this file can also be given as a command line
# argument, e.g.:
#
# bin/primarydock --lig sdf/helional.sdf --diff test/1a1_citral.config --out output/OR1A1_helional.test.dock # Dock helional using the same settings as for citral.
#
# Note that if you override the PROT parameter, it is also recommended you override
# CEN, PATH, STATE, and EXCL (as applicable) since these will vary slightly from
# protein to protein.
#

# Path to PDB of protein (required):
PROT pdbs/OR1/OR1A1.upright.pdb

# Path to PDB or SDF of ligand (required):
LIG sdf/citral.sdf

# Center of binding pocket (required):
# Can be ABS or RES; default is ABS if unspecified.
# ABS means use literal XYZ coordinates.
# RES means average the CA locations of all indicated residue numbers.
# CEN ABS -4.93883 5.08067 -4.91533
CEN RES 105 108 202 206 251 258

# Optional path. If given, PrimaryDock will attempt to move the ligand along the
# path and report the binding energy at each node.
# The pocket center is considered to be node zero.
# Nodes must be numbered from 1 to n, where n < 256.
# Path can be ABS, REL, or RES. ABS and RES work the same as CEN above, while
# REL takes relative XYZ coordinates to add to the previous node's coordinates.
# Default is ABS if unspecified - NOTE this is different from the previous behavior
# where REL was the only option, so please update your config files!
# RES is particularly valuable when using STATE params, as detailed below.
# PATH 1 REL -2.0 -2.5 -0.5
# PATH 2 RES 112 206 251
# PATH 3 RES 115 213 244
# PATH 4 RES 59 118 240

# Optional protein conformational states.
# If the protein changes shape during path docking, you can indicate which parts of
# the protein move by how much at which path node. An imaginary axis of rotation is
# drawn from the starting residue's CA to the ending residue's CA, then a rotation
# of the indicated number of degrees is performed. The below line, if uncommented,
# would indicate a 25 degree (counterclockwise if viewed from residue 210 looking at
# residue 248) rotation of the line from 210:CA to 240:CA at path node 4. For OR1A1
# this corresponds to bending the TMR5 and TMR6 helices outwards into approximately
# the GPCR active configuration.
# Each path node can have an unlimited number of STATE params.
# STATE 3 210 248 25

# Optional alternate PDB, e.g. for receptor activation.
# If uncommented, the specified path node number (in this example 4) will trigger
# loading an alternate model of the protein for docking. This makes it possible to
# dock the ligand first in the protein's default conformational state, and then in
# an alternate conformational state while preserving the conformation of the ligand.
# NODEPDB 4 pdbs/OR1/OR1A1.active.pdb

# Pocket size. If one number is given, it forms the radius of a sphere
# centered around the pocket center. If three numbers are given, they form
# the XYZ radii of an aspect-ratio-distorted spheroid centered around
# the pocket center.
# Default: 10.0.
SIZE 6.0 7.5 5.5

# Optional exclusion zones. Useful for e.g. extracellular loops that in the real world
# protein would flex wildly and not constitute part of the binding pocket.
EXCL 1 57		# Head, TMR1, and CYT1.
EXCL 164 195	# EXR2 between TMR4 and TMR5.

# Maximum number of poses to output. Default 10.
POSE 10

# Search method.
# Valid choices are BB (best binding) or TS (tumble spheres).
# Best binding looks for the three pairs of ligand-side chain atoms with the best chance
# of forming a non-covalent bond, and attempts to align the ligand accordingly.
# Tumble spheres calculates the imaginary spheres the side chains can flex to inhabit,
# and free-form tumbles the ligand inside this space looking for the most favorable
# superpositions of ligand functional groups with side chain spheres.
# Default is TS.
# SEARCH BB

# Pre-align method.
# If specified, this will do a preliminary dock of the ligand with only the specified
# residues, before going onto the normal whole-protein dock.
# This overrides the SEARCH parameter because pre-align search is mutually exclusive
# to both best-binding and tumble spheres searches.
# PREALIGN 109 203 251 255

# Minimum total binding energy in kJ/mol for output poses.
# Normally this should be either a cutoff threshold for pose screening or a
# small negative number to find all valid poses. Setting this to a positive value
# may cause impossible poses to be output, e.g. ones where atoms are clashing.
ELIM -0.01

# Uncomment this to enable kcal/mol output instead of the default kJ/mol.
# KCAL

# Side chain flexion: active if nonzero. Default: 1.
FLEX 1

# Optional: if this parameter is uncommented, a differential dock will occur, i.e.
# the total energy of the system will be computed before and after docking the ligand
# and each output value will be given as difference = with ligand minus without ligand.
# Note this increases calculation time as the protein is optimized before docking.
# DIFF

# Optional: If this parameter is uncommented, PrimaryDock will generate up to the
# specified number of water molecules in the binding pocket.
# H2O 10

# Number of iterations per path node per pose.
# Higher values equal more precision but decreasing gains and longer processing
# times. Multiples of 10 work best. Default: 50.
ITERS 50

# Optional output file for docking results. Use a file path with filename,
# no spaces. If the file exists, it will be overwritten.
# For best results, include the receptor name (e.g. OR1A1, TAAR5) in the output filename.
OUT output/OR1A1_citral.dock



